<!DOCTYPE html>
<html data-bs-theme="light" lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Shorten This</title>
    <link rel="icon" type="image/x-icon" sizes="2000x2000" href="{{ url_for('static', filename='assets/img/favicon.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&amp;display=swap">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/bs-theme-overrides.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/styles.css') }}">
</head>

<body style="background: #1c1c1c;">
    <!-- Start: Banner Clean -->
    <section class="py-4 py-xl-5">
        <div class="container" style="color: rgb(255,255,255);">
            <div class="text-center p-4 p-lg-5">
                <p class="fw-bold mb-2" style="color: rgb(255,138,0);border-color: #ff8a00;">Home</p>
                <h1 class="fw-bold mb-4" style="font-family: 'Roboto';">Shorten This</h1>
            </div>
        </div>
    </section><!-- End: Banner Clean -->
    <div class="container" style="width: 30em;background: #434343;border-radius: 1em;max-width: 100vw;padding: 1em;">
        <div style="padding: 1em;">{% if not disable_authentication %}
            <div style="margin-bottom: 1em;margin-top: 1em;">
                <div class="row">
                    <div class="col d-flex d-xxl-flex justify-content-center justify-content-xxl-center"><a class="btn btn-primary" role="button" style="background: #ff8a00;font-family: 'Roboto';color: rgb(255,255,255);border-style: none;padding-left: 5em;padding-right: 5em;" href="/login"><strong>Login</strong></a></div>
                </div>
            </div>{% endif %}{% if disable_authentication %}
            <div style="margin-bottom: 1em;margin-top: 1em;">
                <div class="row">
                    <div class="col d-flex d-xxl-flex justify-content-center justify-content-xxl-center"><a class="btn btn-primary" role="button" style="background: #ff8a00;font-family: 'Roboto';color: rgb(255,255,255);border-style: none;padding-left: 5em;padding-right: 5em;" href="/control-panel?section=urls"><strong>Shorten URL</strong></a></div>
                </div>
            </div>{% endif %}
            <div style="margin-top: 1em;">
                <div class="row">
                    <div class="col d-flex d-xxl-flex justify-content-center justify-content-xxl-center"><a href="https://github.com/jedrzejme/ShortenThis" style="color: rgba(13,110,253,0);" target="_blank">
                            <p class="fw-lighter" style="color: rgb(255,255,255);"><em>Show GitHub project</em></p>
                        </a></div>
                </div>
            </div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='assets/bootstrap/js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/setup-scripts.js') }}"></script>
    <script src="{{ url_for('static', filename='assets/js/shorten-url-scripts.js') }}"></script>
</body>

</html>