<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Setup</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/setup-styles.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.png') }}">
</head>
<body>
    <div class="form-container">
        <h1>Setup</h1>
        <form method="post" enctype="multipart/form-data">
            <label for="app-url">App URL</label>
            <input type="url" id="app-url" name="app-url" autocomplete="off" value="{{ app_url }}" required>

            <label for="default-url-length">Default URL length</label>
            <input type="number" id="default-url-length" name="default-url-length" autocomplete="off" required>

            <label for="enable-authentication">Enable authentication</label>
            <input type="checkbox" id="enable-authentication" name="enable-authentication">

            <div id="password" class="tab-content">
            <label for="password">Password</label>
            <input type="password" id="password" name="password">
            </div>

            <button type="submit">Setup</button>
        </form>
    </div>
    <script src="{{ url_for('static', filename='js/setup-scripts.js') }}"></script>
</body>
</html>